<!DOCTYPE html>
<html>

<head>
    <title> Tu divisa</title>
    <link rel="stylesheet" type="text/css " href="css/bootstrap,css">
</head>

<body>
        <div class="container">
        <div class="row">
          <div class="col-sm">
            One of three columns
          </div>
          <div class="col-sm">
            One of three columns
          </div>
          <div class="col-sm">
            One of three columns
          </div>
        </div>
      </div>

    {% block content %}

    {% endblock %}
    <canvas>
        <h1> holabrrrr </h1>
    </canvas>


</body>

</html>