{% extends 'Base/base.html'%}
{% block title%} {{ title}} {% endblock%}
{% block content %}
{% from 'Macros/macro.html' import render_field %}



    <div align="center" class="conainer-fluid" id="formulario" >
        
            Valor 2 <input type="number" name="val1" id="num1" >
        <select name="opcion1"value="opcion1" >
            <option name="op1" value="dolar">dolar</option>
            <option value="">pesos</option>
            <option value="">Euro</option>

        </select><br>
        Valor 2 <input type="number" name="val2" id="num2" >
        <select name="opcion1" value="opcion1">
            <option name="op1" value="dolar">dolar</option>
            <option value="">pesos</option>
            <option value="">Euro</option>
        </select><br>


        
        <script>
            function sumar(num1, num2) {
               var numero1=document.getElementById("num1").value
               var numero2=document.getElementById("num2").value
            if (numero1 > 0 && numero2 > 0) {
                var total;
                total = parseFloat(numero1) + parseFloat(numero2);
                alert("El valor es " + total);
            } else {
                alert(" debe ingresar numeros ")
                console.log("error en numeros digitados")
            }
        }  
                     
        </script>

        <input type="button" class="btn btn-primary" name="ver total " value="Calcular" onclick="sumar(num1,num2)">

       
    </div>


{% endblock %}